.header-back{
    background-image: url('../img/diplomados_maestria.jpg');
    background-position: center;
    background-size: cover;
    height: 100%;
    margin: 0;
}

.align-paypal{
    width: auto;
    margin: 0 auto;
}


.experts{
    background-color: #008996;
    color: #ffffff;
}